/* .navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  display: inline-block;
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.navbar-link:hover {
  color: #ffcc00;
} */


/* .navbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 60px; 
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}*/

/* .navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
} */

/* .navbar-item {
  margin: 0 20px; 
} */
/*
.navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}
/*
.navbar-link:hover {
  color: #007bff;
}
 */


 .navbar {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 60px; /* Increased height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  border-bottom: 1px solid black;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin: 0 20px; /* Add some space between items */
}

.navbar-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.2s ease; /* Smooth transition for color change */
}

.navbar-link:hover {
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

