* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  
  .overall {
    color: #333;
    padding: 20px;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  }
  
  .overall-heading,
  .district-heading {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    
  
    
      /* font-size: 70px; */
      font-weight: 600;
      background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
  }
  
  .analysis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    overflow: hidden;
  }
  
  .box-100 {
    width: 100%;
    /* background-color: #B1DDF1; */
    height: 510px;
  }
  
  .box-50 {
    width: calc(50% - 5px); /* Adjusted for spacing */
    /* background-color: #B1DDF1; */
    height: 510px;
  }
  
  .district {
    border-top: 2px solid black;
    padding-top: 20px;
  }
  
  select {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button {
    background-color: white;
    color: #553c9a;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #553c9a;
    cursor: pointer;
    transition: 0.2s;
  }
  
  button:hover {
    background-color: #553c9a;
    color: white;
  }
  
  