.container {
  width: 80%;
  margin: auto;
}

.articles-container {
  margin-top: 16px;
  margin-bottom: 15px;
}

.article {
  display: grid;
  grid-template-columns: 70% 30%;
  overflow-y: auto;
  margin-top: 20px;
  
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  margin-top: 0; /* Remove default margin */
}

.title {
  
  margin-bottom: 0; /* Remove default margin */
}

.image {
  display: flex;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}
