



.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

.form-container {
  width: 400px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center horizontally */
}


.blurred {
  filter: blur(8px);
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;

  font-weight: 600;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  color: #333;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.form-input[type="file"] {
  background-color: #f9f9f9;
  cursor: pointer;
}

submit-button {
  background-color: white;
  color: #553c9a;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #553c9a;
  cursor: pointer;
  transition: 0.2s;
}

submit-button:hover {
  background-color: #553c9a;
  color: white;
}

.error-message {
  color: #ff3333;
  margin-bottom: 10px;
}

.success-message {
  color: #4CAF50;
  margin-bottom: 10px;
  text-align: center;
}

.video-container {
  margin-top: 30px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.video-player {
  width: 100%; 
  max-width: 100%; 
  height: auto;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
